name: tasks_dev

services:
    migration:
        image: nestjs_api:dev
        container_name: db_migration
        env_file: .env
        command: npm run migration:run
        restart: 'no'
        depends_on:
            postgres:
                condition: service_healthy

    api:
        image: nestjs_api:dev
        container_name: nestjs_api
        env_file: .env
        ports:
            - '3000:3000'
        depends_on:
            - migration
        restart: unless-stopped

    postgres:
        image: postgres:17
        container_name: postgres_db
        environment:
            POSTGRES_USER: '${DB_USERNAME}'
            POSTGRES_PASSWORD: '${DB_PASSWORD}'
            POSTGRES_DB: '${DB_DATABASE}'
        ports:
            - '5000:5432'
        volumes:
            - postgres_data:/var/lib/postgresql/data
        healthcheck:
            test:
                ['CMD-SHELL', 'pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB']
            interval: 10s
            timeout: 5s
            retries: 5
        restart: unless-stopped

volumes:
    postgres_data:
